body {
display: flex;
flex-direction: column;
background: url('../assets/space-galaxy.gif');
background-repeat: none;
background-size: cover;
font-family: 'Lexend Zetta', sans-serif;
background-color: rgba();
}


.game-wrapper {
  width: 1000px;
  margin: auto;
}

.grid{
  width: 1000px;
  height: 400px;
  border: solid white 1px;
  box-shadow: 5px 5px 10px #d6dddf;
}

.game-info, .instructions {
  display: flex;
  color: white; 
  justify-content: space-between;
  margin: 40px 0;
  text-transform: uppercase;
  
}
.game-info span{
  margin-left: 40px;
}
.start, .reset, .game-info p{
  font-size: 16px;
  font-family: 'Lexend Zetta', sans-serif;
  text-transform: uppercase;
  color: white;
  background: black;
}

.start, .reset {
  outline: none;
  padding: 0 20px;
  border: white solid 2px;
  margin: 0;
}

.game-info p{
  padding: 26px 20px;
  border: white solid 2px;
  margin: 0;
  width: 300px;
}
.instructions {
  /* display: flex; */
  /* justify-content: center; */
  border: white solid 2px;
  text-align: center;
  justify-content: space-around;
}

.instructions p {
  color: white;
  margin: 20px;
  line-height: 2;
  /* width: calc(20% -20px); */
}


button:hover {
  box-shadow: 5px 5px 10px #d6dddf;
  
}
.grid {
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  margin: auto;
}
.grid div {
  height: 6.66%;
  width: 10%;
  /* font-size: 12px;
  color: white;
  outline: white dashed 1px;*/
} 
.grid div.shooter {
  background-image: url(../assets/shooter.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom;
}

.grid div.alien {
  background-image: url(../assets/pink-alien.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}
.grid div.laser {
  background-image: url(../assets/blue-laser.jpeg);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: top;
}
.grid div.ufo {
  background-image: url(../assets/UFO.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top;
}

.start-bg .end-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}