.game-info {
  margin: 20px auto;
}

.grid {
  outline: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  height: 500px;
  margin: auto;
}

.grid div {
  outline: solid 1px fuchsia;
  font-size: 14px;
  height: 50px;
  width: 50px;
}

.grid div.shooter {
  background-image: url(../assets/shooter.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom;
}

.grid div.alien-army {
  background-image: url(../assets/shooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
