body {
display: flex;
flex-direction: column;
background-color: black;
font-family: 'Lexend Zetta', sans-serif;
}

.game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin: 30px;
}

.start {
  padding: 10px 30px;
  font-size: 16px;
  color: white;
  background: black;
  outline: none;
  font-family: 'Lexend Zetta', sans-serif;
}

.start:hover {
  border: green solid 2px;
  color: green;
}

.grid {
  outline: solid white 1px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 600px;
  margin: auto;
}

.grid div {
  font-size: 12px;
  color: white;
  height: 6.66;
  width: 10%;
  outline: yellow dashed 1px;
}

.grid div.shooter {
  background-image: url(../assets/shooter.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom;
}

.grid div.alien {
  background-image: url(../assets/alien.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top;
}

.grid div.laser {
  background-image: url(../assets/lazer-shot.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top;
}
